{% extends "blog/base.html" %}

{% block page_content %}
<div class="row">
    <div class="mx-3 mt-5 mb-4">
        <h1 class="display-4">Thoughts and Musings</h1>
        <h4><small class="text-muted">Coffees and dreams...</small></h4>
    </div>
</div>


<div class="row">
    {% for post in object_list %}
        {% include "blog/card.html" %}
    {% endfor %}
</div>

<nav>
    <ul class="pagination">
        <div class="mx-auto d-flex flex-row mt-5">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% endif %}

            <li class="page-item">
                <a class="page-link" href="#">
                    Page {{page_obj.number }} of {{page_obj.paginator.num_pages }}
                </a>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.paginator.num_pages }}">Last &raquo;
                    </a>
                </li>
            {% endif %}


        </div>
    </ul>
</nav>


{% endblock page_content %}

{% comment %}
<!--     <h2><a href="{% url 'blog_detail' post.pk%}">{{ post.title }}</a></h2>
    <small>
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;

    </small>
    <p>{{ post.body | slice:":400" }}...</p>
    {% endfor %}
</div> -->
{% endcomment %}