{% extends "base.html" %}

{% block page_content %}
<div class="row">
    <div class="mx-3 mt-5 mb-4">
        <h1 class="display-4">Thoughts and Musings</h1>
        <h4><small class="text-muted">Coffees and dreams...</small></h4>
    </div>
</div>


<div class="row">
    {% for post in object_list %}
        {% include "blog/card.html" %}
    {% endfor %}
</div>

{% include "blog/pagination.html" %}

{% include "blog/footer.html" %}

{% endblock page_content %}

{% comment %}
<!--     <h2><a href="{% url 'blog_detail' post.pk%}">{{ post.title }}</a></h2>
    <small>
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;

    </small>
    <p>{{ post.body | slice:":400" }}...</p>
    {% endfor %}
</div> -->
{% endcomment %}
